# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
media/

# Entorno virtual
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
*.env
!.env.example
