asgiref==3.12.1
charset-normalizer==3.4.9
colorama==0.4.6
cryptography==45.0.4
Django==6.0.7
django-livereload-server==0.5.1
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.3.0
python-dotenv==1.2.2
qrcode==8.2
reportlab==5.0.0
sqlparse==0.5.5
tornado==6.5.7
tzdata==2026.3
whitenoise==6.12.0
